<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".dialogDemo.DialogMainActivity"
            android:exported="false" />
        <activity
            android:name=".editDemo.EditActivity"
            android:exported="false" />
        <activity
            android:name=".activityDemo.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".activityDemo.RegisterActivity"
            android:exported="false" />

        <service
            android:name=".serviceDemo.MyBindService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".serviceDemo.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".serviceDemo.ServiceMainActivity"
            android:exported="false" />
        <activity
            android:name=".chatGPT.ChatgptActivity"
            android:exported="false" />
        <activity
            android:name=".broadcastDemo.AlarmBroadcastActivity"
            android:exported="false" />
        <activity
            android:name=".broadcastDemo.BroadcastStandardActivity"
            android:exported="false" />
        <activity
            android:name=".intentDemo.A"
            android:exported="false" />
        <activity
            android:name=".intentDemo.B"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>